.cross-sell {
    background-color: #f1f4f5;
    padding-bottom: 40px;
}

.cross-sell__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cross-sell__item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-height: 360px;
    margin-bottom: 30px;
}

.cross-sell__image {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.cross-sell__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.cross-sell__price {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.cross-sell__button {
    margin-top: auto;
    text-align: center;
    max-width: 104px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8;
}

.cross-sell__wrapper-button {
    width: 200px;
    margin-left: auto;
}

@media (max-width: 968px) {
    .cross-sell__list {
        max-width: 560px;
        justify-content: center;
        margin: 0 auto;
    }

    .cross-sell__item {
        margin: 0 30px 30px;
    }

    .cross-sell__wrapper-button {
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }
}

