.feedback__title {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: #333740;
    margin: 0 0 15px 0;
}

.feedback__title-continue {
    position: relative;
    font-weight: 300;
    margin-left: 40px;
}

.feedback__title-continue::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 40px;
    top: -2px;
    left: -20px;
    background-color: #000000;
    border-radius: 3px;
}

.feedback__description p {
    color: #83888f;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}